
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
}
footer {
  position: fixed;
  left: 0;
  background: #327bb0;
  /* height: 2.5rem; */
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
